# IDEs

.idea/

# NodeJs

.serverless
/npm-debug.log
node_modules
/config/config.development.js
/coverage
.nyc_output
/html-report

/dist/styles
/dist/*.js
/dist/*.js.gz

# Wingbot configuration log
# .wingbot
